<div class="about-page-nav">
  <a class="about-nav-link button" href="/history/">NLPT History</a>
  <a class="about-nav-link button" href="/staff/">Our Staff</a>
  <a class="about-nav-link button" href="/facilities/">Facilities</a>
</div>