<div class="container hero-wrapper">
  <div class="hero-header">
    <a href="{{@blog.url}}"><h1 class="site-title">NLPT</h1></a>
    <h4 class="hero-sub-title">Waterloo Region's Top Training Centre</h4>
  </div>

</div>
