<div class="programs-nav-bar margin-row clearfix">
  <a class="col-3" href="/nlpt-athlete/">
    <div class="program button program-button athlete" data-program="1">
      <h2>NLPTathlete</h2>
    </div>
  </a>

  <a class="col-3" href="/nlpt-fit/">
    <div class="program button program-button fit" data-program="2">
      <h2>NLPTfit</h2>
    </div>
  </a>

  <a class="col-3" href="/nlpt-team/">
    <div class="program button program-button team" data-program="3">
      <h2>NLPTteam</h2>
    </div>
  </a>
</div>