    <div class="nav-bar-wrapper">
      <div class="nav-bar clearfix container">

        <div class="left-side-header">
          <div class="nav-bar-title-container clearfix">
          <img class="nav-bar-logo" src="/assets/images/logo-white.png">
            <a href="{{@blog.url}}"><h4 class="site-title">NLPT</h4></a>
          </div>
          <div class="header-social">
            <a class="mail" href="mailto:info@mynlpt.com"></a>
            <a class="instagram" href="http://www.instagram.com/nlpt1" target="  _blank"></a>
            <a class="facebook" href="http://www.facebook.com/nlpt1" target="  _blank"></a>
            <a class="twitter" href="http://www.twitter.com/nlpt1" target="_blank"></a>
          </div>
        </div>

        <div class="right-side-header">
          <div class="hamburger"></div>
          <div class="nav-bar-links">
            <ul>
              {{!-- <li><a class="nav-link" href="/podcast/">Podcast</a></li> --}}
              <li><a class="nav-link" href="/programs/">Programs</a></li>
              <li><a class="nav-link" href="/massage/">Massage</a></li>
              <li><a class="nav-link" href="/blog/">Blog</a></li>
              <li><a class="nav-link" href="/about/">About</a></li>
              <li><a class="nav-link" href="/contact/">Contact</a></li>
            </ul>
          </div>
        </div>

      </div>
    </div>