<div class="portals clearfix">
  <div class="portal col-3">
    <a href="/about/">
      <img src="/assets/images/portal-1.jpg">
      <div class="portal-cover"></div>
      <div class="portal-content">
        <p>About Us</p>
      </div>
    </a>
  </div>
  <div class="portal col-3">
    <a href="/programs/">
      <img src="/assets/images/portal-2.jpg">
      <div class="portal-cover"></div>
      <div class="portal-content">
        <p>Programs</p>
      </div>
    </a>
  </div>
  <div class="portal col-3">
    <a href="/blog/">
      <img src="/assets/images/portal-3.jpg">
      <div class="portal-cover"></div>
      <div class="portal-content">
        <p>Blog</p>
      </div>
    </a>
  </div>
</div>