<table>
<tbody>
<tr>
<td>&nbsp;</td>
<td>Mon</td>
<td>Tue</td>
<td>Wed</td>
<td>Thur</td>
<td>Fri</td>
<td>Sat</td>
<td>Sun</td>
</tr>
<tr>
<td>NLPTfit</td>
<td>
<p>12pm-1pm</p>
<p>5pm-6:30pm</p>
</td>
<td>
<p>12pm-1pm</p>
<p>5pm-6pm</p>
</td>
<td>
<p>12pm-1pm</p>
<p>5pm-6:30pm</p>
</td>
<td>
<p>12pm-1pm</p>
<p>5pm-6:30pm</p>
</td>
<td>
<p>12pm-1pm</p>
<p>5pm-6pm</p>
</td>
<td>8:30am-9:30am</td>
<td>Closed</td>
</tr>
<tr>
<td>NLPTathlete</td>
<td><p>3pm-5pm</p></td>
<td><p>3pm-5pm</p></td>
<td><p>3pm-5pm</p></td>
<td><p>3pm-5pm</p></td>
<td><p>3pm-5pm</p></td>
<td><p>9:30am-10:30am</p></td>
<td><p>Closed</p></td>
</tr>
</tbody>
</table>