<table>
<tbody>
<tr>
<td>&nbsp;</td>
<td>Mon</td>
<td>Tue</td>
<td>Wed</td>
<td>Thur</td>
<td>Fri</td>
<td>Sat</td>
</tr>
<tr>
<td>8:30am-9:30am</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>LEAN</td>
</tr>
<tr>
<td>12pm-1pm</td>
<td>LEAN</td>
<td>STRONG&nbsp;</td>
<td>WILDCARD</td>
<td>LEAN&nbsp;</td>
<td>STRONG&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr>
<td>5pm-6pm</td>
<td>&nbsp;STRONG</td>
<td>&nbsp;LEAN</td>
<td>&nbsp;WILDCARD</td>
<td>&nbsp;STRONG</td>
<td>&nbsp;LEAN</td>
<td>&nbsp;</td>
</tr>
<tr>
<td>6pm-6:30pm</td>
<td>&nbsp;HIIT @6</td>
<td>&nbsp;</td>
<td>HIIT @6&nbsp;</td>
<td>HIIT @6&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
</tbody>
</table>