{{!< default}}
<div class="button email-button sign-up-button animated bounceInUp"><h4>Wanna get started? Contact us now!</h4></div>
<div class="page fit-page" data-program="2">

  <div class="page-header about-page-header">
    <div class="hero-title">
      <h1>NLPT Fit</h1>
    </div>
  </div>

  <div class="page-content">
      <div class="fit-content container clearfix">
        {{> "nav_programs"}}
        {{> "program_content_fit"}}
      </div>
  </div>
</div>
{{> "email_subscribe_bar"}}