{{!< default}}

<div class="page staff-page">
  <div class="page-header staff-page-header">
    <div class="hero-title">
      <h1>Staff</h1>
    </div>
  </div>

  <div class="page-content">

    <div class="staff-content container">
    {{> "about_nav"}}

      <div class="staff-box">
        <h3>Andrew Hopf</h3>
        <h5>Owner and President</h5>
        <img src="/assets/images/staff/Hopf_1.jpg">
      </div>
      <div class="modal">
        <div class="close-button"></div>
        {{> "bio_hopf"}}
      </div>

      <div class="staff-box">
        <h3>Eric Hagemann</h3>
        <h5>Director of Training</h5>
        <img src="/assets/images/staff/Eric_1.jpg">
      </div>
      <div class="modal">
        <div class="close-button"></div>
        {{> "bio_hagemann"}}
      </div>

      <div class="staff-box">
        <h3>Dylan Campion</h3>
        <h5>Head Strength Coach, Stratford</h5>
        <img src="/assets/images/staff/Dylan_1.jpg">
      </div>
      <div class="modal">
        <div class="close-button"></div>
        {{> "bio_campion"}}
      </div>

      <div class="staff-box">
        <h3>Zach Shomphe</h3>
        <h5>Head Strength Coach, Cambridge</h5>
        <img src="/assets/images/staff/Zach_1.jpg">
      </div>
      <div class="modal">
        <div class="close-button"></div>
        {{> "bio_shomphe"}}
      </div>

      <a href="/massage-therapy/"><div class="staff-box">
        <h3>Michelle Miguel</h3>
        <h5>Massage Therapist</h5>
        <h5>Operations Manager</h5>
        <img src="/assets/images/staff/Michelle_1.jpg">
      </div></a>

      <div class="staff-box">
        <h3>Heather Foell</h3>
        <h5>NLPTfit Head Coach</h5>
        <img src="/assets/images/staff/Heather_1.jpg">
      </div>
      <div class="modal">
        <div class="close-button"></div>
        {{> "bio_foell"}}
      </div>

      <div class="staff-box">
        <h3>Erik Krebs</h3>
        <h5>Strength and Conditioning Coach</h5>
        <img src="/assets/images/logo.png">
      </div>
      <div class="modal">
        <div class="close-button"></div>
        {{> "bio_krebs"}}
      </div>

      <div class="staff-box">
        <h3>Cal Myserscough</h3>
        <h5>Strength and Conditioning Coach</h5>
        <img src="/assets/images/logo.png">
      </div>
      <div class="modal">
        <div class="close-button"></div>
        {{> "bio_myerscough"}}
      </div>

      <div class="staff-box">
        <h3>Chris Williamson</h3>
        <h5>Strength and Conditioning Coach</h5>
        <img src="/assets/images/logo.png">
      </div>
      <div class="modal">
        <div class="close-button"></div>
        {{> "bio_williamson"}}
      </div>

    </div>

  </div>
  <div class="modal-layer"></div>
</div>

{{> "email_subscribe_bar"}}
