{{!< default}}
<div class="page about-page">
  <div class="page-header about-page-header">
    <div class="hero-title">
      <img src="/assets/images/FC4-white.png" />
    </div>
  </div>

  <div class="page-content">
    <div class="page-content about-content container">
      <h1>What is the Fit Cup?</h1>
      <figure class="image-right">
        <img src="/assets/images/fc3-1.jpg">
        <figcaption>Team Stratford Celebrating their Fit Cup 3 win!</figcaption>
      </figure>
      <p>The NLPT Fit Cup a behaviour-based fitness competition program that has helped over 100 people jump start their weight loss, fitness and wellness goals. This team-oriented challenge uses the power of accountability to help you reshape your nutrition habits, push you physically, and help you achieve the results you've been looking for. All programs are individualized to address specific needs, and training sessions are done in an energetic and inspirational setting with your NLPT coaches.</p>

      <h3>How does it work?</h3>

      <p>Points are assigned to you (and your team) for adhering to regular training and sound nutrition habits. The team who has the most points at the end of the eight-week challenge is crowned the NLPT Fit Cup Champion!</p>

      <h3>What makes the Fit Cup different?</h3>

      <p>The Fit Cup is different than most other fitness challenges out there because it revolves around developing sound and long-lasting fitness and nutrition habits, NOT around how much weight you lose. Certainly, if you follow the habits we suggest, you will lose weight and feel better, but the real objective of this challenge is to create lasting change. The Fit Cup is very inspirational and team oriented. You are a part of a bigger group who is working towards a common goal, which is always amazing!</p>

      <h3>What are some other features of the Fit Cup that I don't get in the normal NLPTfit Membership?</h3>

      <ul>
        <li>Professional "after" pictures</li>
        <li>Nutrition adherence and accountability</li>
        <li>Team challenges and prizes</li>
        <li>And everything that you already receive with the NLPT Fit Programming (including unlimited coaching, assessment, program design, etc.)</li>
      </ul>

      <h1>Fit Cup 4 Details</h1>
      <h3>How much does the Fit Cup cost?</h3>

      <p>For current NLPTfit clients, it's free! For non-members the cost is $359 to enroll.</p>
    </div>
  </div>
</div>
{{> "email_subscribe_bar"}}