{{!< default}}

<div class="page facilities-page">
  <div class="page-header facilities-page-header">
    <div class="hero-title">
      <h1>Our Facilities</h1>
    </div>
  </div>

  <div class="page-content">

    <div class="about-content facilities-content container">
    {{> "about_nav"}}
    <div class="facility-container">
      <h2>Cambridge</h2>
      <div class="address">
        <p>460 Thompson Dr, Unit 4</p>
        <p>Cambridge, Ontario</p>
        <p>N1T 2K8</p>
      </div>
      <p>Our Cambridge location is a 4,000 square foot space with 30-foot ceilings, a massage therapy clinic, a lounge area in the main lobby, and full men’s and women’s washrooms. The gym area has been designed to maximize open space, allowing plenty of room for a wide range of athletic movements. </p>
      <p>On the north end of Cambridge, we are conveniently located right off of Highway 401 (Townline Exit) and is in close proximity to the Cambridge Center Mall.</p>

      <div class="facility-image" id="camb-1">
        <img class="thumbnail" src="/assets/images/camb-gym-1.jpg">
        <div class="modal">
          <div class="close-button"></div>
          <img src="/assets/images/camb-gym-1.jpg">
        </div>
      </div>

      <div class="facility-image" id="camb-5">
        <img class="thumbnail" src="/assets/images/camb-gym-5.jpg">
        <div class="modal">
          <div class="close-button"></div>
          <img src="/assets/images/camb-gym-5.jpg">
        </div>
      </div>

      <div class="facility-image" id="camb-2">
        <img class="thumbnail" src="/assets/images/camb-gym-2.jpg">
        <div class="modal">
          <div class="close-button"></div>
          <img src="/assets/images/camb-gym-2.jpg">
        </div>
      </div>

      <div class="facility-image" id="camb-3">
        <img class="thumbnail" src="/assets/images/camb-gym-3.jpg">
        <div class="modal">
          <div class="close-button"></div>
          <img src="/assets/images/camb-gym-3.jpg">
        </div>
      </div>


    </div>

    <div class="facility-container">

      <h2>Stratford</h2>

      <div class="address">
        <p>Stratford Rotary Complex</p>
         <p>353 McCarthy Dr</p>
         <p> Stratford, Otario N5A 7S7</p>
      </div>
        <p>Opened in the spring of 2015, our Stratford gym is housed inside the Stratford Rotary Complex overlooking both ice pads.</p>
        <p>This space has over 2000 square feet of space for training and can comfortably handle large numbers of athletes and clients.</p>
        <p>The gym is also air conditioned and has full change rooms (but no showers) which are provided within the Rotary Complex.</p>

        <div class="facility-image" id="strat-1">
          <img class="thumbnail" src="/assets/images/strat-gym-1.jpg">
          <div class="modal">
            <div class="close-button"></div>
            <img src="/assets/images/strat-gym-1.jpg">
          </div>
        </div>

        <div class="facility-image" id="strat-2">
          <img class="thumbnail" src="/assets/images/strat-gym-2.jpg">
          <div class="modal">
            <div class="close-button"></div>
            <img src="/assets/images/strat-gym-2.jpg">
          </div>
        </div>

        <div class="facility-image" id="strat-3">
          <img class="thumbnail" src="/assets/images/strat-gym-3.png">
          <div class="modal">
            <div class="close-button"></div>
            <img src="/assets/images/strat-gym-3.png">
          </div>
        </div>

        <div class="facility-image" id="strat-4">
          <img class="thumbnail" src="/assets/images/strat-gym-4.jpg">
          <div class="modal">
            <div class="close-button"></div>
            <img src="/assets/images/strat-gym-4.jpg">
          </div>
        </div>
      </div>

    </div>
    <div class="modal-layer"></div>
  </div>
</div>
    {{> "email_subscribe_bar"}}