{{!< default}}
<div class="page blog-page">
  <div class="page-header blog-page-header">
    <div class="hero-title">
      <h1>Blog</h1>
    </div>
  </div>

  <div class="page-content">
  {{!-- {{> "topics_bar"}} --}}
    <div class="blog-content container clearfix">
      <div class="main-blog">{{> "blog_loop"}}</div>
    </div>
  </div>
</div>