{{!< default}}

<div class="button email-button sign-up-button animated bounceInUp"><h4>Wanna get started? Contact us now!</h4></div>
<div class="modal contact-modal">{{> "contact_form"}}</div>
<div class="page programs-page">
  <div class="page-header programs-page-header">
    <div class="hero-title">
      <h1>Programs</h1>
    </div>
  </div>

  <div class="page-content">
    <div class="container clearfix">
    {{> "nav_programs"}}

      <div class="program-content">
        <p>For athletes and adults in the Cambridge, Kitchener and Waterloo area, there is no better environment to train in than NLPT. Our intimate, and hard-working atmosphere creates an environment that simply can not be replicated in your typical “gym”.</p>

        <p>Our coaches not only have a wealth of athletic and coaching experience, but are some of the most educated and well-qualified trainers around.</p>

        <p>Whether you're a high-performing athlete, a coach looking to get your team in a structured strength and conditioning program, or are someone completely new to training, NLPT has you taken care of.</p>

        <p>There are three unique training programs that make up NLPT: NLPTathlete, NLPTfit, and NLPTteam. Click on the tab above that you fit into, and read more about one of the best gyms in Ontario.</p>
      </div>
    </div>
  </div>
</div>
<div class="modal-layer"></div>
{{> "email_subscribe_bar"}}