.row {
  max-width: 1200px;
  margin: 0 auto 20px auto;
  box-sizing: border-box;
  clear: both;
}
.row:after {
  content: "";
  display: block;
  clear: both;
  line-height: 0;
}
.col-2, .col-3, .col-4, .col-5, .col-6, .col-two-thirds, .col-five-sixths {
  float: left;
  box-sizing: border-box;
}
.col-6 {
  width: 16.666%;
}
.col-5 {
  width: 20%;
}
.col-4 {
  width: 25%;
}
.col-3 {
  width: 33.3333%;
}
.col-2 {
  width: 50%;
}
.col-two-thirds {
  width: 66.66%;
}
.col-five-sixths {
  width: 83.33%;
}
.margin-row .col-6 + .col-2,
.margin-row .col-6 + .col-3,
.margin-row .col-6 + .col-4,
.margin-row .col-6 + .col-6,
.margin-row .col-6 + .col-two-thirds,
.margin-row .col-6 + .col-five-sixths,
.margin-row .col-4 + .col-2,
.margin-row .col-4 + .col-3,
.margin-row .col-4 + .col-4,
.margin-row .col-4 + .col-6,
.margin-row .col-4 + .col-two-thirds,
.margin-row .col-4 + .col-five-sixths,
.margin-row .col-3 + .col-2,
.margin-row .col-3 + .col-3,
.margin-row .col-3 + .col-4,
.margin-row .col-3 + .col-6,
.margin-row .col-3 + .col-two-thirds,
.margin-row .col-3 + .col-five-sixths,
.margin-row .col-2 + .col-2,
.margin-row .col-2 + .col-3,
.margin-row .col-2 + .col-4,
.margin-row .col-2 + .col-6,
.margin-row .col-2 + .col-two-thirds,
.margin-row .col-2 + .col-five-sixths,
.margin-row .col-two-thirds + .col-2,
.margin-row .col-two-thirds + .col-3,
.margin-row .col-two-thirds + .col-4,
.margin-row .col-two-thirds + .col-6,
.margin-row .col-two-thirds + .col-two-thirds,
.margin-row .col-two-thirds + .col-five-sixths,
.margin-row .col-five-sixths + .col-2,
.margin-row .col-five-sixths + .col-3,
.margin-row .col-five-sixths + .col-4,
.margin-row .col-five-sixths + .col-6,
.margin-row .col-five-sixths + .col-two-thirds,
.margin-row .col-five-sixths + .col-five-sixths {
  margin-left: .5%;
}
.margin-row .col-6 {
  width: 16.25%;
}
.margin-row .col-5 {
  width: 24.5%;
}
.margin-row .col-4 {
  width: 24.625%;
}
.margin-row .col-3 {
  width: 33%;
}
.margin-row .col-2 {
  width: 49.75%;
}
.margin-row .col-two-thirds {
  width: 66.5%;
}
.margin-row .col-five-sixths {
  width: 83.25%;
}